@import "../variables";

.create-game {
  img {
    display: block;
    width: 90%;
    margin: 50px auto;
  }
  .players {
    p {
      text-align: center;
      color: #FFF;
      font-weight: 600;
      font-size: 1.2rem;
      select {
        margin-left: 10px;
      }
    }
  }
}